!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Team role control
    = stylesheet_link_tag    "team_role_control/application", media: "all"
    = javascript_include_tag "team_role_control/application"
    = csrf_meta_tags
  %body.container
    = yield

