= inside_layout "application" do
  .TeamRoleControl
    .trc-Layout{data: {controller_action: "#{controller_name}##{action_name}"}}

      %aside.trc-Layout-sidebar.trc-Sidebar
        %h3.trc-Sidebar-title User Management
        %nav.trc-SidebarNav
          - if ignoring_teams
            = link_to team_roles_path(TRC::Team.first), class: "trc-SidebarNav-link #{active_tab?('roles')}" do
              = material_icon :roles
              .label Roles
              %strong= TRC::Role.count
          - else
            = link_to teams_path, class: "trc-SidebarNav-link #{active_tab?('teams')}" do
              = material_icon :teams
              .label Teams
              %strong= TRC::Team.count

          = link_to users_path, class: "trc-SidebarNav-link #{active_tab?('users')}" do
            = material_icon :users
            .label Users
            %strong= ::User.count
              
      .trc-Layout-body
        = yield