.trc-Button {
  @extend .trc-Link;
  background-color: $color-primary;
  border: .1rem solid $color-primary;
  border-radius: .4rem;
  color: $color-initial;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  // height: 2.5rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-initial;
    outline: 0;
  }

  &[disabled] {
      cursor: default;
      opacity: .5;
  
      &:focus,
      &:hover{
        background-color: $color-primary;
        border-color: $color-primary;
      }
  }
}


.trc-Button--outline {
  @extend .trc-Button;
  background-color: transparent;
  color: $color-primary;

  &:focus,
  &:hover {
    background-color: transparent;
    border-color: $color-secondary;
    color: $color-secondary;
  }

  &[disabled] {

    &:focus,
    &:hover {
      border-color: inherit;
      color: $color-primary;
    }
  }
}


.trc-Button--clear {
  @extend .trc-Button;
  background-color: transparent;
  border-color: transparent;
  color: $color-primary;

  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $color-secondary;
  }

  &[disabled] {

    &:focus,
    &:hover {
      color: $color-primary;
    }
  }
}