.trc-Checkbox {
  display: inline-block;
  position: relative;

  label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  input[type='checkbox'] {
    position: absolute;
    opactiy: 0;
    right: 50%;
    left: 50%;

    & ~ .trc-Checkbox-cover {
      cursor: pointer; 
    }
    
    &:checked ~ .trc-Checkbox-cover,
    &.is-checked ~ .trc-Checkbox-cover {
      border-color: $color-primary;

      i { 
        display: inline-block;
        color: $color-primary;
      }
    }
  }
  

  &-cover {
    // @extend .u-iconTextAlign;
    margin: .5rem;
    position: relative;
    display: block;
    height: inherit;
    background-color: #f7f7f7;
    padding: 0.5rem 1rem;
    font-weight: 300;
    border: 1px solid white;
    transition: all 0.3s;
    i { 
      vertical-align: middle; 
    }

    &--white {
      @extend .trc-Checkbox-cover;
      background-color: #fff;
    }
  }

}


.trc-Checkbox--tab {
  @extend .trc-Checkbox;
  
  input[type='checkbox'] ~ .trc-Checkbox-cover {
    border: none;
    border-bottom: solid 2px #ccc;
    background-color: #f7f7f7;

    i {
      display: inline-block;
      color: #ccc;
    }
  }

  input[type='checkbox']:checked ~ .trc-Checkbox-cover {
    border: none;
    border-bottom: solid 2px $color-primary;
    i { 
      display: inline-block;
      color: $color-primary;
    }
  }
}

.trc-CheckboxGroup {
  margin: 1rem 0;
  &--strike {
    input[type='checkbox']:checked ~ .trc-Checkbox-cover,
    .trc-Checkbox.is-checked {
      color: #d9534f;
      border-color: #d9534f;
      text-decoration: line-through;
      i { 
        color: #d9534f;
      }
    } 
  }

  &--toggle-display {
    input[type='checkbox']:checked, .is-checked {
      display: inline;
      & ~ .trc-Checkbox-cover {
        display: block;
      }
    }

    input[type='checkbox']:not(:checked) {
      display: none;
      & ~ .trc-Checkbox-cover {
        display: none;
      }
    }
  }
}

