.trc-Row {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.trc-Column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;

  &.is-10 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  &.is-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  &.is-25 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  &.is-33,
  &.is-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
  }
  &.is-40 {
      flex: 0 0 40%;
      max-width: 40%;
  }
  &.is-50 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  &.is-60 {
      flex: 0 0 60%;
      max-width: 60%;
  }
  &.is-66,
  &.is-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%;
  }
  &.is-75 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  &.is-80 {
      flex: 0 0 80%;
      max-width: 80%;
  }
  &.is-90 {
      flex: 0 0 90%;
      max-width: 90%;
  }
}