.trc-Header {
  display: flex;
  padding: 1rem;
  margin-bottom: 4rem;

  &-icon {
    margin-top: 2px;
    margin-right: 1.5rem; 
  }

  &-title {
    a { display: block;}

    *:first-child { 
      font-weight: 400;
    }
    * { margin-bottom: 0; }
  }

  &-actions {
    margin-left: auto;
    a + a { margin-left: 0.5rem; }
  }

  &--stripped {
    @extend .trc-Header;
    margin: 0;
    align-items: center;
    * + * { margin-left: 1rem; }
  }

  &.is-lighter {
    margin-bottom: 2rem;

    .trc-Header-icon, .trc-Header-title {
      opacity: 0.5;
    }
  }

  &.is-thinner {
    margin-bottom: 0;
  }
}

.trc-List .trc-Header {
  margin-bottom: 0;
  padding: 0;

  &-icon {
    margin-right: 1rem;
  }

  & + * {
    margin-top: 1rem;
  }

  small {
    opacity: 0.5;
  }
}