.trc-Layout {
  @extend .trc-Row;
  margin: 2rem auto;
  max-width: 1120px;

  &-sidebar {
    flex: 0 0 25%;
    margin-right: 2rem;
  }

  &-body {
    flex: 0 0 75%;
  }

  section {
    margin-bottom: 1rem;
    
    article {
      padding: 1rem;
    }
  }
}