.trc-List {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  &-item {
    @extend .u-whiteBlock;
    margin: 2rem 0;
    &:first-child {
      margin-top: 0;
    }
  }
}

.trc-List--cards {
  @extend .trc-List;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-item { 
    @extend .trc-List-item;
    width: 48%;
  }
}