.trc-Sidebar {
  &-title {
  }

  &Nav {
    margin-top: 2rem;
    background-color: transparent;

    &-link {
      display: flex;
      align-items: center;
      padding: 1rem 0;
      padding-right: 2.5rem;

      i { 
        vertical-align: middle; 
        color: #777;
      }

      .label { 
        padding-left: 2rem; 
        display: inline-block;
      }
      
      strong {
        margin-left: auto;
        opacity: 0.25;
      }

      &:hover {
        opacity: 1;
        text-decoration: none;
      }

      &:not(.is-active) {
        color: inherit;
        opacity: 0.5;
      }

      &.is-active {
        border-radius: 0.6rem;
        i {
          color: inherit;
          opacity: 1;
        }
      }
    }
  }
}