.u-noMarginY {
  margin-top: 0;
  margin-bottom: 0;
}

.u-noMarginX {
  margin-left: 0;
  margin-right: 0;
}

.u-noPaddingY {
  padding-top: 0;
  padding-bottom: 0;
}

.u-noPaddingX {
  padding-left: 0;
  padding-right: 0;
}