= form_for @team, html: {class: 'trc-Form'} do |f|
  .u-whiteBlock
    .trc-Form-group
      = f.label :name
      = f.text_field :name  
      - if @team.errors.any? && @team.errors.key?(:name)
        .trc-error-message= "Name #{@team.errors[:name].first}"

    .trc-Form-group
      = f.label :description
      = f.text_area :description
      - if @team.errors.any? && @team.errors.key?(:description)
        .trc-error-message= "Description #{@team.errors[:description].first}"

  .u-block
    = trc_header icon: :roles, title: 'Roles', lighten: true, thin: true do
      = link_to_add_association f, :roles, class: 'trc-Button--clear', data: {association_insertion_node: '.trc-List--cards', association_insertion_method: 'prepend' } do
        = material_icon :add
        Add Role


    %ul.trc-List--cards
      = f.fields_for :roles do |role_f|
        = render 'role_fields', f: role_f

  .trc-Form-actions
    = link_to 'Cancel', :back, class: 'trc-Button--clear'
    = f.submit 'Save', class: 'trc-Button'
