%li.trc-List--cards-item.nested-fields
  .trc-Form-group
    = f.text_field :name, placeholder: "Name"
    - if @team.errors.any? && @team.errors.key?('roles.name')
      .trc-error-message= "Name #{@team.errors['roles.name'].first}"

  .trc-Form-group
    = f.text_area :description, placeholder: "Description"
    - if @team.errors.any? && @team.errors.key?('roles.description')
      .trc-error-message= "Description #{@team.errors['roles.description'].first}"
  .u-centerText
    = link_to_remove_association f, class: 'trc-Button--clear', onclick: '' do
      = material_icon :remove_circle
      Remove