= trc_header icon: :teams, title: 'TEAMS', lighten: true do
  = link_to 'New Team', new_team_path, class: 'trc-Button'

%ul.trc-List
  - @teams.each do | team |
    %li.trc-List-item{onclick: "location.href='#{team_path(team)}'"}
      .trc-Header
        .trc-Header-title
          %h5= team.name
          %small= team.description
          %div
            %small= "#{team.users.count} Users, #{team.roles.count} Roles"
        .trc-Header-actions
          = link_to edit_team_path(team) do
            = material_icon :edit

          = link_to team, method: :delete, data: { confirm: 'Are you sure?' } do
            = material_icon :clear
