- if !ignoring_teams
  = trc_header icon: :teams, title: @team.name.titleize, description: @team.description do
    = link_to edit_team_path(@team) do
      = material_icon :edit

  - title = "#{@team.roles.count} Role#{'s' if @team.roles.count > 1}"

  = trc_header title: title, lighten: true do
    = link_to new_team_role_path(@team), class: 'trc-Button--clear' do
      = material_icon :add
      New Role

- else
  = trc_header icon: :roles, title: 'ROLES', lighten: true do
    = link_to "New Role", new_team_role_path(@team), class: 'trc-Button'


%ul.trc-List
  - @team.roles.each do | role |
    %li.trc-List-item
      .trc-Header
        .trc-Header-icon
          = material_icon :roles
        .trc-Header-title
          = link_to team_role_path(@team, role) do
            %h5= role.name
        .trc-Header-actions
          = link_to edit_team_role_path(@team, role) do
            = material_icon :edit
          = link_to team_role_path(@team, role), method: :delete, data: { confirm: 'Are you sure?' } do
            = material_icon :clear

      %table
        %thead
          %tr
            %th User
            %th.u-centerText Permissions
        %tbody
          - role.users.each do |user|
            %tr{onclick: "location.href='#{user_path(user)}'"}
              %td= user.send(TeamRoleControl.configuration.user_display_name_method)
              %td.u-centerText= user.team_permissions.where(team: @team).count

      %details.trc-Details
        %summary.is-lighter
          = material_icon :permissions
          %div Permissions

        .trc-CheckboxGroup
          - role.team_permissions.each do |permit|
            .trc-Checkbox
              .trc-Checkbox-cover= permit.display_name
        %small *Listed are all permissions granted to this role.
