= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    .trc-expand-section
      %summary
        = material_icon :settings
        %h4 Settings

      - team_roles = TRC::Team.all.inject(Hash.new([])) {|hsh, team| hsh[team.id] = @user.roles.where(team_id: team.id).pluck(:id); hsh}

      #trc-user-settings.trc-expand-section__body{data: {initial_roles: team_roles.to_json}}
        - TRC::Role.all.group_by(&:team).each do |team, roles|
          %details.trc-field-group
            %summary.trc-icon-title
              = material_icon :teams
              %h6= team.name
            = f.collection_check_boxes :role_ids, roles, :id, :name  do |box|
              .trc-check-box.tabify
                = box.label do
                  = box.check_box(class: "-filter-", data: {role: box.object.id, team: team.id})
                  .trc-check-box__cover
                    = material_icon :roles
                    = box.object.name

            .trc-expand-section.trc-filter-select{data: {team: team.id}}
              / = material_icon :permissions
              .row
                .column
                  %h6 Role Permissions
                  = f.collection_check_boxes "revoked_permission_override_ids", team.team_permissions, :id, :display_name do |box|
                    .trc-check-box.darkened{data: {roles: box.object.roles.map(&:id)}}
                      = box.label do
                        = box.check_box
                        .trc-check-box__cover
                          = box.object.display_name

                .trc-additional-permissions.column.column-25.-center-
                  %h6 Additional
                  %select.trc-Search{data: {path: permissions_path}}
                  = f.collection_check_boxes "special_permission_override_ids", @user.special_permissions.map(&:team_permission).reject {|tp| tp.team != team}, :id, :display_name do |box|
                    .trc-check-box{data: {roles: box.object.roles.map(&:id)}}
                      = box.label do
                        = box.check_box
                        .trc-check-box__cover
                          = material_icon :check
                          = box.object.display_name

            / .trc-expand-section.trc-filter-select{data: {team: team.id}}
            /   %summary
            /     = material_icon :permissions
            /     / %h4 Permissions
            /     / %small *Click to revoke the permissions.

            /   - # Display role-selected permissions and click to revoke
            /   = f.collection_check_boxes "revoked_permission_override_ids", team.team_permissions, :id, :display_name do |box|
            /     .trc-check-box.darkened{data: {roles: box.object.roles.map(&:id)}}
            /       = box.label do
            /         = box.check_box
            /         .trc-check-box__cover
            /           = material_icon :roles
            /           = box.object.display_name

            /   - # Display unselected role permissions and click to activate
            /   = f.collection_check_boxes "special_permission_override_ids", team.team_permissions, :id, :display_name do |box|
            /     .trc-check-box{data: {roles: box.object.roles.map(&:id)}}
            /       = box.label do
            /         = box.check_box
            /         .trc-check-box__cover
            /           = material_icon :check
            /           = box.object.display_name

  .actions.float-right
    = f.submit 'Save'

:coffeescript
  new TRC.UserSettings
