- classes ||= ''

= collection_check_boxes object, method, collection, :id, :display_name do |box|
  .trc-Checkbox{data: {id: box.object.id}}
    = box.label do
      - if defined? force_check
        = box.check_box(checked: force_check)
      - else
        = box.check_box
      .trc-Checkbox-cover{class: classes}
        = yield
        = box.object.display_name