= form_for :user, method: :patch, url: user_path(@user) do |f|

  %section#js-UserSettings
    = render partial: 'team_role_control/shared/header', locals: {icon: :settings, title: "User Settings", lighten: true}

    - element = ignoring_teams ? 'article' : 'details.trc-Details'
    - TRC::Role.all.group_by(&:team).each do |team, roles|
      - haml_tag element, class: "js--team", data: {team_id: team.id} do
        - unless ignoring_teams
          %summary.u-iconTextAlign.u-topBorder--darker.u-block
            = material_icon :teams
            %h6= team.name

        .trc-Form-group
          .js--roles
            = f.collection_check_boxes :role_ids, roles, :id, :name  do |box|
              .trc-Checkbox--tab{data: {team_permissions_path: team_role_team_permissions_path(team, box.object.id)}}
                = box.label do
                  = box.check_box(class: "-filter-")
                  .trc-Checkbox-cover
                    = material_icon :roles
                    = box.object.name

          - revoked_permissions = @user.team_permissions.where(team: team)
          - additional_permissions = @user.special_permissions.map(&:team_permission).reject {|tp| tp.team != team}

          .trc-Row
            .trc-Column.is-60.u-whiteBlock
              .trc-CheckboxGroup--strike.js--role-permissions
                .u-textRow
                  %h6 Role Permissions
                  %small
                    %i *Select permission to revoke.

                %h5.u-block.u-centerText.js--message No Role for this Team
                // checked state is revoked
                = render 'permissions_check_boxes', object: :user, method: "revoked_permission_override_ids", collection: revoked_permissions, classes: 'is-revokable stuff'

            .trc-Column.is-40.u-whiteBlock.u-leftBorder
              .trc-CheckboxGroup--toggle-display.u-centerText.js--additional-permissions
                %h6 Additional
                %select.trc-Search{style: "width: 100%;", data: {placeholder: "Search permissions..", path: search_team_team_permissions_path(team.id)}}
                .js--additional-permission-container
                  = render 'permissions_check_boxes', object: :user, method: "special_permission_override_ids", collection: additional_permissions, classes: "u-noMarginX", force_check: true do
                    = material_icon(:close)


  .trc-Form-actions
    = link_to 'Cancel', :back, class: 'trc-Button--clear'
    = f.submit 'Save', class: 'trc-Button'

  