- display_name = @user.send(TeamRoleControl.configuration.user_display_name_method)

= render partial: 'team_role_control/shared/header', locals: {icon: :users, title: display_name}

= render 'settings_form'
