= trc_header icon: :users, title: 'USERS', lighten: true

%ul.trc-List
  - @users.each do | user |
    %li.trc-List-item{onclick: "location.href='#{user_path(user)}'"}
      .trc-Header
        .trc-Header-title
          %h5= user.send(TeamRoleControl.configuration.user_display_name_method)
          %small= user.email
          %div
            %small= "#{user.teams.count.to_s + ' Teams, ' unless ignoring_teams}#{user.roles.count} Roles, #{user.team_permissions.count} Permissions, #{user.overrides.count} Overrides"
        .trc-Header-actions
          = link_to edit_user_path(user) do
            = material_icon :settings
