- user_name = @user.send(TeamRoleControl.configuration.user_display_name_method)

= trc_header icon: :users, title: user_name, details: @user.email do
  = link_to edit_user_path(@user) do
    = material_icon :settings

- uniq_teams_through_overrides = @user.overriden_teams.uniq

- if uniq_teams_through_overrides.count >= 1
  - uniq_teams_through_overrides -= @user.teams.uniq
  
- if ignoring_teams
  - title = "#{@user.roles.count} Role#{'s' if @user.roles.count != 1}"
- else
  - title = "#{@user.teams.count} Team#{'s' if @user.teams.count != 1}"

= render partial: 'team_role_control/shared/header', locals: {title: title, lighten: true} 

%ul.trc-List
  - if ignoring_teams
    - @user.roles.each do | role |
      %li.trc-List-item
        .trc-Header
          .trc-Header-icon
            = material_icon :roles
          .trc-Header-title
            = link_to team_role_path(role.team.id, role.id) do
              %h5= role.name
            %small= role.description

        - team_overrides = @user.overrides.where(team_permission_id: role.team.team_permissions.pluck(:id))

        - if team_overrides.count >= 1
          %details.trc-Details
            %summary.is-lighter
              = material_icon :permissions
              %div Permissions

            .trc-CheckboxGroup
              - team_overrides.reverse.each do |override|
                - permit = override.team_permission
                .trc-Checkbox{class: ("is-checked" unless override.is_permitted)}
                  .trc-Checkbox-cover= permit.display_name
            %small *Listed are revoked permissions or permissions granted outside the user's provided roles.

  - else
    - @user.teams.each do | team |
      %li.trc-List-item
        .trc-Header
          .trc-Header-icon
            = material_icon :teams
          .trc-Header-title
            = link_to team_path(team) do
              %h5= team.name

        - user_roles = TRC::UserRole.where(user_id: @user.id, role_id: team.roles.pluck(:id))
        - if user_roles.count >= 1
          %table
            %thead
              %tr
                %th Roles
                %th Description

            %tbody
              - user_roles.each do |user_role|
                - role = user_role.role
                %tr{onclick: "location.href='#{team_role_path(team, role)}'"}
                  %td= role.name
                  %td= role.description


        - team_overrides = @user.overrides.where(team_permission_id: team.team_permissions.pluck(:id))

        - if @user.team_permissions.where(team: team).count
          %details.trc-Details
            %summary.is-lighter
              = material_icon :permissions
              %div Permissions

            - if team_overrides.count >= 1
              .trc-CheckboxGroup--strike
                - team_overrides.reverse.each do |override|
                  - permit = override.team_permission
                  .trc-Checkbox{class: ("is-checked" unless override.is_permitted)}
                    .trc-Checkbox-cover= permit.display_name

                - @user.team_permissions.where(team: team) do |permission|
                  %p Thing
                  .trc-Checkbox
                    .trc-Checkbox-cover= permission.display_name

              %small *Listed are revoked permissions or permissions granted outside the user's provided roles.



