.u-leftBorder {
  border-left: 1px solid #f7f7f7;
  &--darker {
    @extend .u-leftBorder;
    border-color: #ccc;
  }
}

.u-rightBorder {
  border-right: 1px solid #f7f7f7;
  &--darker {
    @extend .u-rightBorder;
    border-color: #ccc;
  }
}

.u-topBorder {
  border-top: 1px solid #f7f7f7;
  &--darker {
    @extend .u-topBorder;
    border-color: #ccc;
  }
}

.u-bottomBorder {
  border-bottom: 1px solid #f7f7f7;
  &--darker {
    @extend .u-bottomBorder;
    border-color: #ccc;
  }
}