.u-block {
  padding: 2rem;
}

.u-whiteBlock {
  @extend .u-block;  
  background-color: $color-initial;
}

.u-flex {
  display: flex;
  &Wrap {
    flex-wrap: wrap;
  }

  &Start {
    justify-content: flex-start;
  }
}

.u-vCenter {
  display: flex;
  align-items: center;
}