.u-textRow {
  display: flex;
  * { display: inline-block; }
  * + * { margin-left: 2rem; }
}

.u-iconTextAlign {
  display: flex;
  align-items: center;

  * { 
    margin-top: 0;
    margin-bottom: 0;
  }

  .material-icons {
    margin-right: 1rem;
  }
}

.u-centerText {
  text-align: center;
}