.u-whiteBlock
  .trc-Form-group
    = f.label :name
    = f.text_field :name
    - if @role.errors.any? && @role.errors.key?(:name)
      .trc-error-message= "Name #{@role.errors[:name].first}"

  .trc-Form-group
    = f.label :description
    = f.text_area :description
    - if @role.errors.any? && @role.errors.key?(:description)
      .trc-error-message= "Description #{@role.errors[:description].first}"

.u-block
  = render partial: 'team_role_control/shared/header', locals: {icon: :permissions, title: "Permissions", thin: true}

  .trc-Form-group
    %select.trc-Search{style: "width: 100%; margin-bottom: 2rem;", data: {placeholder: "Search permissions..", path: search_team_team_permissions_path(@role.team.id)}}
    .u-block
    .u-flex.u-flexWrap.u-flexStart.js--permission-container
      = render 'team_role_control/users/permissions_check_boxes', object: :role, method: "team_permission_ids", collection: @role.team_permissions, force_check: true do
        = material_icon(:close)

    / = f.collection_check_boxes "team_permission_ids", @team.team_permissions, :id, :display_name do |box|
    /   .trc-Checkbox
    /     = box.label do
    /       = box.check_box
    /       .trc-Checkbox-cover
    /         = material_icon(:close)
    /         = box.object.display_name

/ .trc-CheckboxGroup--toggle-display.u-centerText.js--additional-permissions
/   %h6 Additional
/   %select.trc-Search{style: "width: 100%;", data: {placeholder: "Search permissions..", path: search_team_team_permissions_path(team.id)}}
/   .js--additional-permission-container
/     = render 'permissions_check_boxes', object: :user, method: "special_permission_override_ids", collection: additional_permissions, classes: "u-noMarginX", force_check: true do
/       = material_icon(:close)

.trc-Form-actions
  = link_to 'Cancel', :back, class: 'trc-Button--clear'
  = f.submit 'Save', class: 'trc-Button'
