- edit_role_header = capture_haml do
  = trc_header icon: :roles, title: "Edit Role"

- if ignoring_teams
  = edit_role_header
- else
  = trc_header icon: :teams, title: @team.name, details: @team.description

%section#js--RoleForm
  - if  !ignoring_teams
    = edit_role_header

  = form_for [@team, @role], html: {class: 'trc-Form'} do |f|
    = render 'form', f: f, team: @team, role: @role



