= trc_header icon: :roles, title: 'ROLES', lighten: true do
  = link_to 'New Role', new_role_path, class: 'trc-Button'

%ul.trc-List
  - @roles.each do | role |
    %li.trc-List-item{onclick: "location.href='#{role_path(role)}'"}
      .trc-Header
        .trc-Header-title
          %h5= role.name.capitalize
          %small= role.description
          %div
            %small= "#{role.users.count} Users, #{role.team_permissions.count} Permissions"
        .trc-Header-actions
          = link_to edit_team_role_path(role) do
            = material_icon :edit
            
          = link_to role, method: :destroy, data: { confirm: 'Are you sure?' } do
            = material_icon :clear
