- unless ignoring_teams
  = trc_header icon: :teams, title: @team.name, details: @team.description
- else
  = trc_header icon: :roles, title: "New Role"

%section#js--RoleForm
  - unless ignoring_teams
    = trc_header icon: :teams, title: @team.name, details: @team.description, lighten: true

  = form_for [@team, @role], html: {class: 'trc-Form'} do |f|
    = render 'form', f: f, team: @team, role: @role


