= trc_header icon: :roles, title: @role.name.capitalize, details: @role.description do
  = link_to edit_team_role_path(@team, @role) do
    = material_icon :edit


.trc-Row
  .trc-Column.is-75
    %ul.trc-List
      - @role.users.each do | user |
        %li.trc-List-item
          .trc-Header
            .trc-Header-icon
              = material_icon :users
            .trc-Header-title
              = link_to user_path(user) do
                %h5= user.send(TeamRoleControl.configuration.user_display_name_method)
              %small= user.email
              %div
                %small= "#{(user.teams.count.to_s + ' Teams, ') unless ignoring_teams}#{user.roles.count} Roles, #{user.team_permissions.count} Permits, #{user.overrides.count} Overrides"
            .trc-Header-actions
              = link_to edit_user_path(user) do
                = material_icon :settings

  .trc-Column.is-25
    .trc-Header--stripped
      = material_icon :permissions
      %h5 Permissions

    .trc-CheckboxGroup.u-centerText
      - @role.team_permissions.each do |permit|
        .trc-Checkbox
          .trc-Checkbox-cover--white= permit.display_name
