- lighten ||= false
- thin ||= false

.trc-Header{class: [('is-lighter' if lighten), ('is-thinner' if thin)].join(' ')}
  - if defined? icon
    .trc-Header-icon.u-vCenter
      = material_icon icon

  .trc-Header-title.u-vCenter
    %h4= title

    - if defined? description
      %h6= description

    - if defined? details
      %div
        %small= details

  - if block_given?
    .trc-Header-actions
      = yield